{
  "openapi": "3.1.0",
  "info": {
    "title": "InstantML Rust API",
    "description": "Public InstantML API reference for hosted SDK, dashboard, import, export, usage, artifact, and metric workflows.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.instantml.ai",
      "description": "InstantML hosted API"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "platform"
        ],
        "operationId": "health",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/readyz": {
      "get": {
        "tags": [
          "platform"
        ],
        "operationId": "readyz",
        "responses": {
          "200": {
            "description": "Operational and metric stores ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadyzResponse"
                }
              }
            }
          },
          "503": {
            "description": "Not ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/projects": {
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "list_projects",
        "responses": {
          "200": {
            "description": "Projects for the caller's organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectsEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      },
      "post": {
        "tags": [
          "runs"
        ],
        "operationId": "create_project",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created or fetched project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/runs": {
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "list_runs",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "Filter by project name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by run status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "display_status",
            "in": "query",
            "description": "Filter by derived display status: running, stopping, stopped, finished, or failed",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Run search query. Bare text preserves legacy substring search; supports fields, boolean operators, and explicit re:/.../ regex.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort key: created, name, status, duration, metric-latest, or metric-best",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metric_key",
            "in": "query",
            "description": "Metric key used by metric-latest and metric-best sorts",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (1..=1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of runs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunSummariesEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid run search or query parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      },
      "post": {
        "tags": [
          "runs"
        ],
        "operationId": "create_run",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRunRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/runs/{run_id}": {
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "get_run",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "description": "Run UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunSummaryEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      },
      "patch": {
        "tags": [
          "runs"
        ],
        "operationId": "update_run",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "description": "Run UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRunRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/runs/{run_id}/metrics": {
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "get_metrics",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "description": "Run UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Filter by metric key",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_step",
            "in": "query",
            "description": "Inclusive start step",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "end_step",
            "in": "query",
            "description": "Inclusive end step",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bounded scalar metric points",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObjectResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      },
      "post": {
        "tags": [
          "runs"
        ],
        "operationId": "log_metrics",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "description": "Run UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogMetricsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Inserted point count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsertedEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/runs/{run_id}/rank-metrics": {
      "post": {
        "tags": [
          "runs"
        ],
        "operationId": "log_rank_metrics",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "description": "Run UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogRankMetricsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Inserted rank metric point count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsertedEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/overview": {
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "overview",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "Filter by project name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by run status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "display_status",
            "in": "query",
            "description": "Filter by derived display status: running, stopping, stopped, finished, or failed",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Run search query. Bare text preserves legacy substring search; supports fields, boolean operators, and explicit re:/.../ regex.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metric_key",
            "in": "query",
            "description": "Metric key for best-value column",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard overview payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObjectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid run search or query parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/runs/summary": {
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "runs_summary",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "Filter by project name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by run status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "display_status",
            "in": "query",
            "description": "Filter by derived display status: running, stopping, stopped, finished, or failed",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Run search query. Bare text preserves legacy substring search; supports fields, boolean operators, and explicit re:/.../ regex.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort key",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metric_key",
            "in": "query",
            "description": "Metric key for ranked column",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Use selection for lightweight bulk-selection rows",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run summary page with metric key catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObjectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid run search or query parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/runs/side-by-side": {
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "side_by_side",
        "parameters": [
          {
            "name": "run_ids",
            "in": "query",
            "description": "Comma-separated run UUIDs",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "runs",
            "in": "query",
            "description": "Alias for run_ids",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reference_run_id",
            "in": "query",
            "description": "Pin a reference run",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "diff_only",
            "in": "query",
            "description": "Only return rows that differ",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Side-by-side comparison rows",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObjectResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/runs/stop": {
      "post": {
        "tags": [
          "runs"
        ],
        "operationId": "stop_runs",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Stable client key used to deduplicate bulk stop retries",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StopRunsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Recorded bulk stop requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunStopBulkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing runs:control scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/metrics/series": {
      "post": {
        "tags": [
          "runs"
        ],
        "operationId": "metrics_series",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetricsSeriesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Per-run metric series keyed by run_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObjectResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/runs/{run_id}/rank-metrics/summary": {
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "rank_metrics_summary",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "description": "Run UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Rank metric key",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_step",
            "in": "query",
            "description": "Inclusive start step",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "end_step",
            "in": "query",
            "description": "Inclusive end step",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Step limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bounded rank metric summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RankMetricsSummaryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/runs/{run_id}/lineage": {
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "get_run_lineage",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "description": "Run UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bounded direct lineage graph for the selected run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunLineageEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/runs/{run_id}/forks": {
      "post": {
        "tags": [
          "runs"
        ],
        "operationId": "fork_run",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "description": "Source run UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Stable client key used to deduplicate fork retries",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRunForkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created forked run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunForkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Plan or payment limit prevents creating another run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope or project access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Source run or checkpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/runs/{run_id}/stop": {
      "post": {
        "tags": [
          "runs"
        ],
        "operationId": "stop_run",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "description": "Run UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Stable client key used to deduplicate stop retries",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StopRunRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Recorded stop request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunStopEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing runs:control scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/runs/{run_id}/stop-signal": {
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "stop_signal",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "description": "Run UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cooperative stop signal for SDK callers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StopSignalEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing ingest scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          }
        ]
      }
    },
    "/api/runs/{run_id}/stop-ack": {
      "post": {
        "tags": [
          "runs"
        ],
        "operationId": "stop_ack",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "description": "Run UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StopAckRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Acknowledged or completed stop request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunStopEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing ingest scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run or stop request not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Stop request id mismatch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          }
        ]
      }
    },
    "/api/runs/{run_id}/attributes": {
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "list_attributes",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "description": "Run UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by attribute kind",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path_prefix",
            "in": "query",
            "description": "Filter by path prefix",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typed attribute rows for the run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributesEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      },
      "post": {
        "tags": [
          "runs"
        ],
        "operationId": "create_attributes",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "description": "Run UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAttributesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created attribute rows",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributesEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/runs/{run_id}/objects": {
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "list_objects",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "description": "Run UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Filter by object kind",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Filter by object key",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rich object page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObjectResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      },
      "post": {
        "tags": [
          "runs"
        ],
        "operationId": "create_object",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "description": "Run UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateObjectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created rich object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/runs/{run_id}/artifacts": {
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "list_artifacts",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "description": "Run UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Artifact rows for the run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtifactsEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Read scope required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      },
      "post": {
        "tags": [
          "runs"
        ],
        "operationId": "create_artifact",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "description": "Run UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateArtifactRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created artifact metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtifactEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Artifact write scope required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/runs/{run_id}/artifacts/upload": {
      "post": {
        "tags": [
          "runs"
        ],
        "operationId": "upload_artifact",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "description": "Run UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadArtifactRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created artifact with stored bytes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtifactEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Artifact write scope required or artifact byte uploads disabled by server configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/runs/{run_id}/logs": {
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "list_console_logs",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "description": "Run UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stream",
            "in": "query",
            "description": "stdout or stderr",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Substring filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Console log page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObjectResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      },
      "post": {
        "tags": [
          "runs"
        ],
        "operationId": "log_console_logs",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "description": "Run UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConsoleLogsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Number of inserted console log lines",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsertedEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/objects/{object_id}/rows": {
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "list_object_rows",
        "parameters": [
          {
            "name": "object_id",
            "in": "path",
            "description": "Object integer id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table object rows",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObjectResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/artifacts/{artifact_id}/download": {
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "download_artifact",
        "parameters": [
          {
            "name": "artifact_id",
            "in": "path",
            "description": "Artifact UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range",
            "in": "header",
            "description": "Optional byte range forwarded to the stored artifact backend",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Artifact byte stream. Runtime Content-Type uses the stored artifact MIME type when available and falls back to application/octet-stream.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/BinaryBody"
                }
              }
            }
          },
          "206": {
            "description": "Artifact byte range. Runtime Content-Type uses the stored artifact MIME type when available and falls back to application/octet-stream.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/BinaryBody"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Read scope required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Artifact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "416": {
            "description": "Requested range is not satisfiable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/export": {
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "export_data",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "Filter by project name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by run status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Run search query. Bare text preserves legacy substring search; supports fields, boolean operators, and explicit re:/.../ regex.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort key",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metric_key",
            "in": "query",
            "description": "Metric key for export columns",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_ids",
            "in": "query",
            "description": "Comma-separated exact run UUIDs for selected-run export. Capped for GET URL safety.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "runs",
            "in": "query",
            "description": "Alias for run_ids. Ignored when run_ids is present.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Export format: json (default) or csv",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versioned export payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObjectResponse"
                }
              },
              "text/csv; charset=utf-8": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid run search or query parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing export scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Selected run is missing or not visible to the caller",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/imports": {
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "list_imports",
        "responses": {
          "200": {
            "description": "Recent imports for the caller's tenant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportsEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing export:read or imports:write scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/imports/jobs": {
      "post": {
        "tags": [
          "runs"
        ],
        "operationId": "create_import_job",
        "requestBody": {
          "description": "Import v2 job create request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportJobCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created import job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportJobEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing imports:write scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/imports/jobs/{import_id}": {
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "get_import_job",
        "parameters": [
          {
            "name": "import_id",
            "in": "path",
            "description": "Import job id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Import job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportJobEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing export:read or imports:write scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Import job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/imports/jobs/{import_id}/chunks": {
      "post": {
        "tags": [
          "runs"
        ],
        "operationId": "append_import_chunk",
        "parameters": [
          {
            "name": "import_id",
            "in": "path",
            "description": "Import job id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Canonical import chunk v2",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CanonicalImportChunk"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Accepted import chunk",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportChunkAppendResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing imports:write scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Chunk conflict or illegal state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/imports/jobs/{import_id}/commit": {
      "post": {
        "tags": [
          "runs"
        ],
        "operationId": "commit_import_job",
        "parameters": [
          {
            "name": "import_id",
            "in": "path",
            "description": "Import job id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Committed import job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportJobEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing imports:write scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Import job is not ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/imports/jobs/{import_id}/cancel": {
      "post": {
        "tags": [
          "runs"
        ],
        "operationId": "cancel_import_job",
        "parameters": [
          {
            "name": "import_id",
            "in": "path",
            "description": "Import job id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled import job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportJobEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing imports:write scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Import job cannot be cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/imports/wandb": {
      "post": {
        "tags": [
          "runs"
        ],
        "operationId": "import_wandb",
        "parameters": [
          {
            "name": "dry_run",
            "in": "query",
            "description": "Run validation only without persisting",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Normalized W&B JSON payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObjectResponse"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Dry-run or completed import summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObjectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing imports:write scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/imports/mlflow": {
      "post": {
        "tags": [
          "runs"
        ],
        "operationId": "import_mlflow",
        "parameters": [
          {
            "name": "dry_run",
            "in": "query",
            "description": "Run validation only without persisting",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Normalized MLflow JSON payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObjectResponse"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Dry-run or completed import summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObjectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing imports:write scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/imports/neptune": {
      "post": {
        "tags": [
          "runs"
        ],
        "operationId": "import_neptune",
        "parameters": [
          {
            "name": "dry_run",
            "in": "query",
            "description": "Run validation only without persisting",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Normalized Neptune JSON payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObjectResponse"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Dry-run or completed import summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObjectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing imports:write scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/usage": {
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "usage_summary",
        "responses": {
          "200": {
            "description": "Computed org usage summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObjectResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing usage:read scope or restricted org access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/usage/export": {
      "get": {
        "tags": [
          "runs"
        ],
        "operationId": "usage_export",
        "responses": {
          "200": {
            "description": "Versioned usage export payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObjectResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing usage:read scope or restricted org access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "browserSession": []
          }
        ]
      }
    },
    "/api/reports": {
      "get": {
        "tags": [
          "reports"
        ],
        "operationId": "list_reports",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "project",
            "in": "query",
            "description": "Filter to a single project_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report summaries for the caller's org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportSummariesEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerApiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "reports"
        ],
        "operationId": "create_report",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient report write permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerApiKey": []
          }
        ]
      }
    },
    "/api/reports/{report_id}": {
      "get": {
        "tags": [
          "reports"
        ],
        "operationId": "get_report",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "description": "Report UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "share",
            "in": "query",
            "description": "Magic-link share token (allows anonymous read)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Report not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerApiKey": []
          },
          {}
        ]
      },
      "delete": {
        "tags": [
          "reports"
        ],
        "operationId": "delete_report",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "description": "Report UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Soft-deleted report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient report write permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Report not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerApiKey": []
          }
        ]
      },
      "patch": {
        "tags": [
          "reports"
        ],
        "operationId": "update_report",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "description": "Report UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient report write permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Report not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerApiKey": []
          }
        ]
      }
    },
    "/api/reports/{report_id}/share": {
      "post": {
        "tags": [
          "reports"
        ],
        "operationId": "rotate_report_share_token",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "description": "Report UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report with rotated share token",
            "content": {
              "application/json": {
[...]
